<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stock Tracker{% endblock %}</title>

    <!-- Add your CSS files here -->
<!-- APPARENTLY I SHOULD MAKE A CSS WITH THE CYAN GRADIENT THEME-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Add any additional CSS files (e.g., Bootstrap, FontAwesome) -->


    <!-- Add your JavaScript files here (if needed in the head) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <a href="{{ url_for('continuous') }}">Live Monitoring</a>
	    <a href="{{ url_for('explore') }}">Explore Stocks</a>
        </ul>
    </nav>
    <!-- Content Block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer (optional) -->
    <footer>
        <p>&copy; EDK 2025 Stock Tracker</p>
    </footer>

    <!-- Add your JavaScript files here (if needed at the end of the body) -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>